# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\Program\Java\my_code\玩转数据结构源码\06-Binary-Search-Tree\10-Level-Traverse-in-BST\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
